body{
    background-color: rosybrown;
    color: rgb(224, 0, 146);
    font-family: monospace;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    background-color: rgb(175, 0, 0);
    color: rgb(224, 0, 160);
    font-family: monospace;
    font-size: 3rem;
    border: 1rem ridge rgb(224, 0, 160);
}